<h1>Sections#delete</h1>
<p>Find me in app/views/sections/delete.html.erb</p>
<%= link_to("<< Back to List", sections_path, :class => 'back-link') %>

<div class="sections delete">
  <h2>Delete Section</h2>
  <%#= <%= form_for(@subject, :url => subjects_path(@subject), :method => 'delete') do |f| %>
  <%#= must include :method => 'delete' in the form_for%>

  <%= form_for(@section, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this section?</p>
    <%#= f.object.name is the same as @subject.name%>
    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Section") %>
    </div>

  <% end %>
</div>
