<h1>Sections#index</h1>
<p>Find me in app/views/sections/index.html.erb</p>

<div class="sections index">
  <h2>Sections</h2>

  <%= link_to("Add New Section", new_section_path, :class => 'action new') %>

  <table class="listing" summary="Page list">
    <tr class="header">
      <th>#</th>
      <th>Page ID</th>
      <th>Section</th>
      <th>Visible</th>
      <th>Actions</th>

    </tr>
    <% @sections.each do |section| %>
    <tr>
      <td><%= section.position %></td>
      <td><%= section.page_id %></td>
      <td><%= section.name %></td>
      <%#=<td class="center"><%= section.visible ? 'Yes' : 'No' %>
      <%#= This is using the CUSTOM Helpers in application_helpher.rb%>
      <td class="center"><%= status_tag(section.visible) %>
      <td class="actions">
        <%= link_to("Show", section_path(section), :class => 'action show') %>
        <%= link_to("Edit", edit_section_path(section), :class => 'action edit') %>
        <%= link_to("Delete", delete_section_path(section), :class => 'action delete') %>
      </td>

    </tr>
    <% end %>
  </table>
</div>
